{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">{% trans 'Portal SCT Carreteras' %}</h1>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/backbone.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
