{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">{% trans 'Portal SCT Carreteras' %}</h1>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sct-externo.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/require-jquery-1.4.4.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/underscore.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/libs/backbone.js"></script>
<script type="text/javascript">
    require({ baseUrl: '/static/js/' }, ['app']);
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block coltype %}portalExterno{% endblock %}

{% block bodyclass %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
