{% extends "carreteras/base_carreteras.html" %}

{% block content %}
<br/>
<div id="buscadorApp">
    <div id="search">
        <form action="/carreteras/search/" method="post">
        {% csrf_token %}
            <label>Buscar por:</label>
            <input type="radio" name="searchType" id="porEstado" value="porEstado" checked />
            <label for="porEstado">Estado</label>
            <input type="radio" name="searchType" id="porMunicipio" value="porMunicipio" />
            <label for="porMunicipio">Municipio</label>
            <input type="radio" name="searchType" id="porLocalidad" value="porLocalidad" />
            <label for="porLocalidad">Localidad</label>
            <input type="radio" name="searchType" id="porCarretera" value="porCarretera" />
            <label for="porCarretera">Carretera</label>
            <br/><br/>
            <select id="estadoOptions" name="estado">
            {% for id, value in estados %}
                <option value="{{ id }}">{{ value }}</option>
            {% endfor %}
            </select>
            <input type="search" name="searchText" id="searchText" size="30" maxlength="50" />
            <br/><br/>
            <input type="submit" id="searchButton" value="Buscar"/>
        </form>
    </div>
    <br/>
    <div id="searchResults"></div>

    <script type="text/template" id="carretera-table-tmpl">
        <table id="carreteraTable">
            <thead>
                <tr>
                    <th width="50%">Nombre</th>
                    <th width="25%">Ruta</th>
                    <th width="25%">Identificador Nacional</th>
                </tr>
            </thead>
        </table>
        <br/>
    </script>
    <script type="text/template" id="carretera-tmpl">
        <td><%= nombre ? nombre : '' %></td>
        <td><%= ruta ? (ruta.label ? ruta.label : '') : '' %></td>
        <td><%= identificador_nacional ? identificador_nacional : '' %></td>
    </script>
    <script type="text/template" id="details-tmpl">
        <h2>Detalle</h2>
        <div id="detailsLeft">
            <label>Nombre: </label><%= nombre ? nombre : '' %><br/>
            <label>Ruta: </label><%= ruta ? (ruta.label ? ruta.label : '') : '' %><br/>
        </div>
        <div id="detailsRight">
            <label>Identificador Nacional: </label>
            <%= identificador_nacional ? identificador_nacional : '' %><br/>
        </div>
        <div id="tramos">
            <h3>Tramos</h3>
            <table id="tramosTable">
                <thead>
                    <tr>
                        <th width="16%">Nombre</th>
                        <th width="6%">Corredor</th>
                        <th width="10%">Origen</th>
                        <th width="10%">Destino</th>
                        <th width="6%">Longitud</th>
                        <th width="16%">Estados</th>
                        <th width="16%">Municipios</th>
                        <th width="16%">Localidad</th>
                        <th width="4%">Carriles</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="mapSection">
            <h3>Mapa</h3>
            <div id="map"></div>
        </div>
    </script>
    <script type="text/template" id="tramo-tmpl">
        <td><%= nombre ? nombre : '' %></td>
        <td><%= corredor ? corredor : '' %></td>
        <td><%= origen ? origen : '' %></td>
        <td><%= destino ? destino : '' %></td>
        <td><%= longitud ? longitud : '' %> km</td>
        <td><%= estados ? estados.join(', ') : '' %></td>
        <td><%= municipios ? municipios.join(', ') : '' %></td>
        <td><%= localidad ? localidad : '' %></td>
        <td><%= carriles ? carriles : '' %></td>
    </script>
</div>
{% endblock %}
